GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8080
HEALTH_CACHE_DISABLED=false
HEALTH_CACHE_TTL_MS=5000

LITELLM_BASE_URL=http://latitude:11435
OLLAMA_BASE_URL=http://promaxgb10-6116:11434

POSTGRES_HOST=latitude
POSTGRES_PORT=5432
POSTGRES_DB=openedai_gateway
POSTGRES_USER=openedai
POSTGRES_PASSWORD=change-me

REDIS_HOST=latitude
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=default
REDIS_PASSWORD=change-me
REDIS_KEY_PREFIX=openedai

ELASTICSEARCH_URL=https://latitude:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=change-me
ELASTICSEARCH_API_KEY=
ELASTICSEARCH_INSECURE_SKIP_VERIFY=true
QDRANT_URL=http://promaxgb10-6116:6333

API_KEY_HASH_PEPPER=change-this-pepper
REQUEST_TIMEOUT_SECONDS=120
LITELLM_TIMEOUT_SECONDS=120
ELASTICSEARCH_TIMEOUT_SECONDS=120
QDRANT_TIMEOUT_SECONDS=120
POSTGRES_MIN_CONNS=1
POSTGRES_MAX_CONNS=25
POSTGRES_MAX_CONN_LIFETIME_SECONDS=1800
DEFAULT_RATE_LIMIT_PER_MINUTE=120
