GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8080

LITELLM_BASE_URL=http://latitude:4000
OLLAMA_BASE_URL=http://promaxgb10-6116:11434

POSTGRES_HOST=latitude
POSTGRES_PORT=5432
POSTGRES_DB=openedai_gateway
POSTGRES_USER=openedai
POSTGRES_PASSWORD=change-me

REDIS_HOST=latitude
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=default
REDIS_PASSWORD=change-me
REDIS_KEY_PREFIX=openedai

ELASTICSEARCH_URL=http://latitude:9200
QDRANT_URL=http://promaxgb10-6116:6333

API_KEY_HASH_PEPPER=change-this-pepper
REQUEST_TIMEOUT_SECONDS=120
DEFAULT_RATE_LIMIT_PER_MINUTE=120
